@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor .mention {
  color: #399bf0;
  background-color: transparent;
}
.ql-mention-list-container {
  z-index: 1;
  background-color: black;
}
.ql-mention-list {
  background-color: inherit;
  font-size: 0.9rem;
}

.ql-mention-list .selected {
  background-color: #313131;
  color: inherit;
  font-size: inherit;
}

/* Change the white to any color */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */
